discogs_client == 2.2.1
Flask == 0.10.1
Flask_Bootstrap == 3.3.5.7
Flask_Cache == 0.13.1
Flask_Login == 0.3.2
Flask_SQLAlchemy == 2.1
Flask_WTF == 0.12
pylast == 1.5.1
pytorrentz == 0.0.3
python_qbittorrent == 0.1.5
requests == 2.9.1
retry == 0.9.1
selenium == 2.52.0
transmissionrpc == 0.11
Werkzeug == 0.11.4
WTForms == 2.1
KickassAPI == 1.0.4
beautifulsoup4 == 4.4.1
lxml == 3.6.0
qbittorrent == 0.1.6
