{% extends "bootstrap/base.html" %}

{% block title %}py-proj{% endblock %}

{% block navbar %}
    <div class="navbar navbar-default" id="nav_bar" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                        data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img class="auto_pic_align" src="/static/img/icon.png" alt="app"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li {% if active_page == "index" %}class="active"{% endif %}><a href="/"><span
                            class="glyphicon glyphicon-search"></span> Search</a></li>
                    <li {% if active_page == "auto" %}class="active"{% endif %}><a
                            href="/auto"><span
                            class="glyphicon glyphicon-plane"></span> Automation</a>
                    </li>
                    <li {% if active_page == "list" %}class="active"{% endif %}><a href="/lists"><span
                            class="glyphicon glyphicon-list-alt"></span> Lists</a></li>
                    <li {% if active_page == "status" %}class="active"{% endif %}><a href="/status"><span
                            class="glyphicon glyphicon-book"></span> History
                        {% if g.user.is_authenticated %}
                            {% if g.user.historynum > 0 %}
                                <span id="hi_num" class="badge">{{ g.user.historynum }}</span>
                            {% else %}
                                <span style="display: none" id="hi_num" class="badge">{{ g.user.historynum }}</span>
                            {% endif %}
                        {% endif %}
                    </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li {% if active_page == "settings" %}class="active"{% endif %}><a href="/settings"><span
                            class="glyphicon glyphicon-cog"></span> Settings</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="container">
            <div class="row">
                <div class="alert alert-{{ category }}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}</div>
            </div>
        </div>
    {% endfor %}
    {% block page_content %}{% endblock %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center quarter_margin">
                {% if g.user.is_authenticated %}
                    <p id="username">Logged in as: {{ g.user.name }}</p>
                {% endif %}
                <p>Uptime: {{ g.time }} | version 0.004</p>
                {% if g.user.is_authenticated %}
                    <p><a href="/logout">[Log out]</a></p>
                {% endif %}
            </div>
        </div>
    </div>
    {% if g.dl > 0 and g.user.is_authenticated  %}
        <div id="progress_bar" class="status_inf">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="fa fa-spinner fa-pulse"></span> Searching for albums</h3>
                </div>
                <div class="panel-body">
                    <span id="cur_p">{{ g.album }}</span>
                    <span id="cur_q" class="pull-right">{{ g.dl }} left</span>

                    <div class="progress progress-striped active">
                        <div id="cur_per" class="progress-bar" style="width: {{ g.prnt }}%"></div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block scripts %}
    {{ super() }}
    {% if active_page != "login" %}
        {% if active_page != "reg" %}
            <script src="{{ url_for('.static', filename='js/history_l.js') }}"></script>
        {% endif %}
    {% endif %}
{% endblock %}