{% extends "base.html" %}

{% set active_page = "index" %}

{% block page_content %}
    <div id="page_c" class="container">
        <div class="page-header">
            <h1>Search for albums</h1>
        </div>
    </div>
    <form action="{{ url_for('search') }}" id="index_search" method="post">
        <div class="container center-block">
            <div class="row">
                <div class="col-md-12">
                    <h3>Enter an artist's name:</h3>
                    <div class="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" title="search" id="src_box" name="search_term"
                                   class="form-control input-md">
                    <span class="input-group-btn">
                        <button class="btn btn-primary btn-md" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center quarter_px_margin">
                    <h4 class="text-center">Search API</h4>
                    {% if g.user.searchapi == "discogs" %}
                        <button type="button" id="discogs" class="btn btn-primary active">Discogs
                        </button>
                        <button type="button" id="lastfm" class="btn btn-primary">LastFM</button>
                    {% else %}
                        <button type="button" id="discogs" class="btn btn-primary">Discogs
                        </button>
                        <button type="button" id="lastfm" class="btn btn-primary active">LastFM</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
    {% if sug_o|length != 0 %}
        <div class="container threeper_margin">
            <div class="row">
                <h4 id="sug_h" class="text-center">Suggestions based on your recent searches</h4>
                <br>
                <div id="suggestion_block">
                    {% for i in sug_o %}
                        {% set row = loop %}
                        <div class="col-md-4 col-sm-6">
                            <div class="thumbnail">
                                {% if i.cover_url != "" %}
                                    <a href="/results/{{ i.suggestion.replace(" ", "%20") }}"><img class="img-circle"
                                                                                                   src="{{ i.cover_url }}"
                                                                                                   style="height: 9em; width: 9em"
                                                                                                   alt="img"></a>
                                {% else %}
                                    <a href="/results/{{ i.suggestion.replace(" ", "%20") }}"><img class="img-circle"
                                                                                                   src="/static/100.png"
                                                                                                   style="height: 9em; width: 9em"
                                                                                                   alt="img"></a>
                                {% endif %}
                                <div class="caption text-center">
                                    <a style="font-size: 1.3em"
                                       href="/results/{{ i.suggestion.replace(" ", "%20") }}">{{ i.suggestion }}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="container threeper_margin">
            <div class="row">
                <h4 id="pre_sug" class="text-center">After three or more searches you can generate suggestions</h4>
                <br>
                <div id="suggestion_block">
                </div>
            </div>
        </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <button id="refresh" class="btn btn-link text-info center-block"><span class="fa fa-refresh fa-2x" aria-hidden="true"></span></button>

        </div>
    </div>

    <div class="modal fade" id="refreshmodal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Error</h4>
                </div>
                <div class="modal-body">
                    <p>Not enough new searches to regenerate suggestions</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='apipost.js') }}"></script>
{% endblock %}