{% extends "base.html" %}

{% set active_page = "index" %}

{% block page_content %}
    <div id="page_c" class="container">
    <div class="page-header">
        <h1>Search for albums</h1>
    </div>
    </div>
    <form action="{{ url_for('search') }}" id="index_search" method="post">
        <div class="container">
            <div class="col-md-6">
                <h3>Enter an artist's name:</h3>
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" title="search" id="src_box" name="search_term" class="form-control input-md">
                    <span class="input-group-btn">
                        <button class="btn btn-primary btn-md" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center quarter_px_margin">
                <h4 class="text-center">Search API</h4>
                {% if g.user.searchapi == "discogs" %}
                <button type="button" id="discogs" class="btn btn-primary active">Discogs
                </button>
                <button type="button" id="lastfm" class="btn btn-primary">LastFM</button>
                {% else %}
                <button type="button" id="discogs" class="btn btn-primary">Discogs
                </button>
                <button type="button" id="lastfm" class="btn btn-primary active">LastFM</button>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='apipost.js') }}"></script>
{% endblock %}