{% extends "base.html" %}

{% set active_page = "lists" %}

{% block page_content %}
    <div class="container">
    <div class="page-header">
        <h1>Latest Pitchfork reviews</h1>
    </div>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col-lg-1">Cover</th>
                    <th class="col-lg-5">Title</th>
                    <th class="col-lg-2">Genre</th>
                    <th class="col-lg-4 text-center">Options</th>
                </tr>
                </thead>
                <tbody>
                {% for i in p4k_reviews %}
                    {% set rowloop = loop %}
                    <tr>
                        <td><img src="{{ covers[rowloop.index - 1] }}" alt="Cover" height="84" width="84"></td>
                        <td>{{ i }}</td>
                        <td>{{ genre[rowloop.index - 1] }}</td>
                        <td class="text-center">
                            <button value="{{ i }}" class="btn btn-primary btn-xs">Download</button>
                            <a class="btn btn-danger btn-xs"
                               href="{{ rv_links[rowloop.index - 1] }}" target="_blank"
                               style="text-decoration: none; color: inherit">
                                Review
                            </a>
                            <button value="{{ i }}" class="btn btn-info btn-xs">Info</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='albumpost.js') }}"></script>
{% endblock %}