{% extends "base.html" %}

{% set active_page = "list" %}

{% block page_content %}
    <div class="container">
        <div class="page-header">
            <h1>Pick a listing</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="thumbnail">
                    <a href="/lists/p4k">
                        <img src="static/img/p4k.png" class="list_margins" alt="P4k">
                    </a>
                    <div class="caption text-center">
                        <a class="list-head" style="font-size: 2em"
                           href="/lists/p4k">Pitchfork</a>
                        <p>Download music reviewed by Pitchfork</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="thumbnail">
                    <a href="/lists/mnet/1">
                        <img src="static/img/mnet.png" class="list_margins" alt="mnet">
                    </a>
                    <div class="caption text-center">
                        <a class="list-head" style="font-size: 2em"
                           href="/lists/mnet/1">MNET</a>
                        <p>Download latest eastern asian releases</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="thumbnail">
                    <a href="/lists">
                        <img src="static/img/rs.png" alt="RS">
                    </a>
                    <div class="caption text-center">
                        <a class="list-head" style="font-size: 2em"
                           href="/lists">Rolling Stone</a>
                        <p>Lorem ipsum</p>
                    </div>
                </div>
                </div>
            </div>
    </div>
{% endblock %}