{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% set active_page = "reg" %}

{% block page_content %}
    <div class="container">
        <div class="page-header">
            <h1>Registration</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form action="" method="post" class="form" role="form">
                    {{ form.csrf_token }}
                    {{ wtf.form_errors(form, hiddens="only") }}

                    {{ wtf.form_field(form.name) }}
                    {{ wtf.form_field(form.password) }}
                    {{ wtf.form_field(form.password2) }}
                    {{ wtf.form_field(form.submit) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}