{% extends "base.html" %}

{% set active_page = "search" %}

{% block page_content %}
    <h1>Search results</h1>
    <div class="container">
        <div class="col-lg-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th width="70%">Title</th>
                    <th width="30%">Options</th>
                </tr>
                </thead>
                <tbody>
                {% for i in srchquery %}
                    {% set row = loop %}
                    <tr>
                        <td>{{ i }}</td>
                        <td>
                            <button type="submit" value="{{ i }}" class="btn btn-primary btn-xs" id="dlbttn">Download
                            </button>
                            <button type="submit" value="{{ i }}" class="btn btn-info btn-xs" id="{{ row.index - 1 }} button">More info
                            </button>
                        </td>
                    </tr>
                    <tr id="{{ row.index - 1}}" style="display: none">
                    <td style="font-size: 12px"><img id="{{ row.index - 1 }} cover" src="/static/100.jpg"
                                                     style="vertical-align: top" height="120px" width="120px"><table style="display: inline-table; margin-left: 5px">
                        <thead>
                        <tr>
                            <th>Info</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr><td id="{{ row.index - 1 }} release">Release date: </td></tr>
                        <tr><td id="{{ row.index - 1 }} tags">Tags: </td></tr>
                        <tr><td id="{{ row.index - 1 }} similar">Similar artists: </td></tr>
                        </tbody>
                        </table>
                    </td>
                    <td style="font-size: 12px">
                    <table>
                        <thead>
                        <tr>
                            <th>Track list</th>
                        </tr>
                        </thead>
                        <tbody id="{{ row.index - 1 }} tracks" class="tracklist" style="height: 90px !important; overflow: scroll; display: block">
                    </table></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='albumpost.js') }}"></script>
{% endblock %}