{% extends "base.html" %}

{% set active_page = "search" %}

{% block page_content %}
    <h1>Search results</h1>
    <table class="table">
    <thead>
    <tr>
    <th>Title</th>
    <th>Options</th>
    </tr>
    </thead>
    <tbody>
    {% for i in srchquery %}
        <tr>
    <td>{{ i }}</td>
           <td><button type="submit" value="{{ i }}" class="btn btn-default" id="dlbttn">Download</button></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}

{% block scripts %}
    {{super()}}
<script src="{{url_for('.static', filename='albumpost.js')}}"></script>
{% endblock %}