{% extends "base.html" %}

{% set active_page = "status" %}

{% block page_content %}
    <div class="container">
    <div class="page-header">
        <h1>History of downloads</h1>
        <span class="glyphicon glyphicon-filter"></span> Filter: <input id="search_ex" placeholder="None, start by entering a word" class="form-control-custom-2 input-sm-shl" type="text">
    </div>
    </div>
    <div class="container">
    <div  class="row">
        <div class="col-lg-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col-lg-6">Title</th>
                    <th class="col-lg-3">Status</th>
                    <th class="col-lg-3 text-right">Function</th>
                </tr>
                </thead>
                <tbody id="statustable">
                {% for i, j in album_history.iteritems() %}
                    {% set rowloop = loop %}
                    <tr id="{{ i.replace(" ", "_") }}">
                        <td>
                            <input class="form-control-custom input-sm" name="src_album" id="{{ rowloop.index - 1 }}" type="text" value="{{ i }}" readonly="readonly">
                        </td>
                        <td>
                            {% if "Fail" in j %}
                                <span class="label label-danger">Error</span>
                            {% elif "Added" in j %}
                                <span class="label label-success">Success</span>
                            {% endif %}{{ j.replace("Fail:", "") }}</td>
                        <td class="text-right">
                            <button type="button" value="{{ i }}" class="btn btn-danger btn-xs">Remove</button>
                            <button type="button" value="{{ rowloop.index - 1 }}" class="btn btn-info btn-xs">Edit</button>
                            {% if "Fail" in j %}
                                <button type="button" value="{{ i }}" class="btn btn-primary btn-xs">Retry</button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='status.js') }}"></script>
{% endblock %}